/*Обнуление*/
* {
   padding: 0;
   margin: 0;
   border: 0;
 }
 *,
 *:before,
 *:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
 }
 :focus,
 :active {
   outline: none;
 }
 a:focus,
 a:active {
   outline: none;
 }
 nav,
 footer,
 header,
 aside {
   display: block;
 }
 html,
 body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
 }
 input,
 button,
 textarea {
   font-family: inherit;
 }
 input::-ms-clear {
   display: none;
 }
 button {
   cursor: pointer;
 }
 button::-moz-focus-inner {
   padding: 0;
   border: 0;
 }
 a,
 a:visited {
   text-decoration: none;
 }
 a:hover {
   text-decoration: none;
 }
 ul li {
   list-style: none;
 }
 img {
   vertical-align: top;
 }
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   font-size: inherit;
   font-weight: 400;
 }
 
 /*font-family: 'Inter', sans-serif;
 font-family: 'Playfair Display SC', serif;
 font-family: 'Spartan', sans-serif;*/
 
 /*--------------------*/
 body {
   font-family: "Spartan", sans-serif;
   color: #121212;
 }
 .wrapper {
 }
 .header {
 }
 .container {
   max-width: 1280px;
   margin: 0 auto;
 }
 .banners__wrapper {
   margin-top: 96px;
   margin-left: auto;
   margin-right: auto;
   display: flex;
   justify-content: space-between;
   gap: 30px;
   max-width: 1110px;
 }
 
 .banners__wrapper-img {
   position: relative;
   max-width: 540px;
   height: 260px;
 }
 .banners__wrapper-img img {
   width: 100%;
   height: 100%;
   object-fit: cover;
 }
 .banners__wrapper-title {
   width: 293px;
   height: 71px;
   position: absolute;
   background-color: #ffffff;
   border-radius: 4px;
   font-size: 16px;
   font-weight: 600;
   line-height: 18px;
   letter-spacing: 0.06em;
   text-align: center;
   text-transform: uppercase;
   top: 106px;
   left: calc(50% - 146px);
 }
 .banners__wrapper-title p {
   opacity: 0.6;
   font-size: 12px;
   font-weight: 600;
   line-height: 13px;
   letter-spacing: 0.06em;
   text-align: center;
   margin-top: 16px;
   margin-bottom: 8px;
 }
 .banners__wrapper-title span {
   color: #ea1e63;
 }