 body {
   font-family: "Spartan", sans-serif;
   color: #121212;
 }
 .wrapper {
 }
 .header {
 }
 .container {
   max-width: 1280px;
   margin: 0 auto;
 }
 
 .bloks {
 }
 .container {
 }
 .bloks__banners {
      max-width: 1110px;
   margin-top: 32px;
   margin-left: auto;
   margin-right: auto;
   display: flex;
   justify-content: space-between;

 }
 @media (max-width: 680px) {
   .bloks__banners {
     flex-wrap: wrap;
     gap: 15px;
     justify-content: center;
   }
 }
 .banners {
 }
 @media (max-width: 1110px) {
   .banners__big {
     padding: 0 15px;
   }
   .banners__small {
     padding: 0 15px;
   }
   .banners__small-up-left {
     padding-right: 15px;
   }
 }
 
 .banners__big {
   display: block;
   max-width: 540px;
   max-height: 490px;
   position: relative;
   object-fit: contain;
 }
 .banners__big img {
   width: 100%;
   height: 100%;
   object-fit: cover;
 }
 .banners__bg-title span {
   display: block;
   padding-top: 24px;
   font-size: 12px;
   font-style: normal;
   font-weight: 600;
   line-height: 13px;
   letter-spacing: 0.06em;
   text-align: center;
   opacity: 0.4;
   padding-bottom: 14px;
 }
 .banners__bg-title {
   text-transform: uppercase;
   position: absolute;
   top: 195px;
   /*left: 125px;*/
   /*left: 50%;*/
   left: calc(50% - 145px);
   width: 289px;
   height: 100px;
   border-radius: 4px;
   background-color: #ffffff;
   font-size: 22px;
   font-weight: 600;
   line-height: 25px;
   letter-spacing: 0.06em;
   text-align: center;
 }
 @media (max-width: 860px) {
   .banners__bg-title {
     width: 200px;
     left: calc(50% - 100px);
     top: calc(50%-50px);
   }
 }
 @media (max-width: 540px) {
   .banners__bg-title {
     width: 200px;
     left: calc(50% - 100px);
     /*top: calc(50%-50px);*/
     top: 30%;
   }
 }
 .banners__bg-title::before {
   cursor: pointer;
   position: absolute;
   content: "";
   width: 40px;
   height: 40px;
   border-radius: 20px;
   background: #ffffff;
   background-image: url(../../img/icons/left.svg);
   background-position: center;
   background-repeat: no-repeat;
   opacity: 0.4;
   top: 30px;
   left: -100px;
 }
 .banners__bg-title::after {
   cursor: pointer;
   position: absolute;
   content: "";
   width: 40px;
   height: 40px;
   border-radius: 20px;
   background: #ffffff;
   background-image: url(../../img/icons/right.svg);
   background-position: center;
   background-repeat: no-repeat;
   opacity: 0.4;
   top: 30px;
   right: -100px;
 }
 @media (max-width: 1060px) {
   .banners__bg-title::before {
     left: -50px;
   }
   .banners__bg-title::after {
     right: -50px;
   }
 }
 @media (max-width: 680px){
    .banners__bg-title::before {
       left: -100px;
     }
     .banners__bg-title::after {
       right: -100px;
     }
 }
 @media (max-width: 540px){
    .banners__bg-title::before {
       left: -50px;
     }
     .banners__bg-title::after {
       right: -50px;
     }
 }
 .banners__small {
   max-width: 540px;
 }
 .banners__small-up {
   display: flex;
   justify-content: space-between;
 }
 .banners__small-up-left {
   position: relative;
   display: block;
   max-width: 255px;
   height: 200px;
 }
 .banners__small-up-left img {
   width: 100%;
   height: 100%;
   object-fit: cover;
 }
 
 .banners__small-up-left-title {
   width: 118px;
   height: 48px;
   position: absolute;
   background-color: #ffffff;
   border-radius: 4px;
   font-size: 14px;
   font-weight: 600;
   line-height: 48px;
   letter-spacing: 0.06em;
   text-align: center;
   text-transform: uppercase;
   top: 76px;
   left: calc(50% - 59px);
 }
 
 .banners__small-up-right {
   position: relative;
   display: block;
   max-width: 255px;
   height: 200px;
 }
 .banners__small-up-right img {
   width: 100%;
   height: 100%;
   object-fit: cover;
 }
 
 .banners__small-up-right-title {
   width: 118px;
   height: 48px;
   position: absolute;
   background-color: #ffffff;
   border-radius: 4px;
   font-size: 14px;
   font-weight: 600;
   line-height: 48px;
   letter-spacing: 0.06em;
   text-align: center;
   text-transform: uppercase;
   top: 76px;
   left: calc(50% - 59px);
 }
 .banners__small-down {
   margin-top: 30px;
   position: relative;
   max-width: 540px;
   height: 260px;
 }
 .banners__small-down img {
   width: 100%;
   height: 100%;
   object-fit: cover;
 }
 .banners__small-down-title {
   width: 166px;
   height: 48px;
   position: absolute;
   background-color: #ffffff;
   border-radius: 4px;
   font-size: 14px;
   font-weight: 600;
   line-height: 48px;
   letter-spacing: 0.06em;
   text-align: center;
   text-transform: uppercase;
   top: 106px;
   left: calc(50% - 83px);
 }