/*font-family: 'Inter', sans-serif;
 font-family: 'Playfair Display SC', serif;
 font-family: 'Spartan', sans-serif;*/

/*--------------------*/
body {
  font-family: "Spartan", sans-serif;
  color: #121212;
}
.wrapper {
}
.header {
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
.conditions {
}
.container {
}
.conditions__rows {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 90px;
  padding-right: 90px;
  height: 105px;
  flex-wrap: wrap;
}
@media (max-width: 1220px) {
  .conditions__rows {
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 25px 0 0 0;
  }
}
@media (max-width: 400px) {
  .conditions__rows {
   display: none;
  }
}
.conditions__column {
  display: flex;
  justify-content: space-between;
}
.conditions__column-img {
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}
.shipping {
  background-image: url(../../img/icons/shipping.svg);
}
.return {
  background-image: url(../../img/icons/return.svg);
}
.support {
  background-image: url(../../img/icons/support.svg);
}
.conditions__column-info {
  margin-left: 13px;
}
.conditions__column-title {
  font-size: 12px;
  font-weight: 600;
  line-height: 13px;
  letter-spacing: 0.06em;
}
.conditions__column-subtitle {
  font-size: 12px;
  font-weight: 500;
  line-height: 22px;
  width: 302px;
}
