.slider_item_swiper {
  display: flex;
  /*max-width: 574px;*/
}
@media (max-width: 620px) {
  .slider_item_swiper {
    max-width: 558px;
    margin: 0 auto;
  }
}
.item__slider-big-photo.swiper {
  max-width: 448px !important;
  /*height: 100%;*/
  margin: 0 auto;
}

/*@media (max-width: 900px) {
  .swiper {
    width: 860px;
  }
}*/

.item__slider-big-photo.swiper-slide {
  display: block;
  /*max-width: 540px;*/
  max-width: 100%;
  /*height: 560px;*/
  position: relative;
}
/*@media (max-width: 500px){
.swiper-slide{
   width: 320px !important;
}
.swiper-wrapper{
   width: 320px !important;
   padding-left: 10px;
   padding-right: 10px;
}
}*/
.item__slider-big-photo.swiper-slide img {
  max-width: 100% !important;
  /*height: 100%;*/
  object-fit: cover;
}
.item__slider-big-photo .swiper-button-prev {
  left: 25px !important;
  top: 280px !important;
  cursor: pointer !important;
  position: absolute !important;
  width: 40px !important;
  height: 40px !important;
  background-image: url(../../img/icons/left.png) !important;
}
swiper-button-prev::after {
  content: "" !important;
}
.item__slider-big-photo .swiper-button-next {
  right: 25px !important;
  top: 280px !important;
  cursor: pointer !important;
  position: absolute !important;
  width: 40px !important;
  height: 40px !important;
  background-image: url(../../img/icons/right.png) !important;
}
swiper-button-next::after {
  content: "" !important;
}

.swiper-button-prev-out {
  left: 10px;
  top: 0;
  cursor: pointer;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  /*background-color: crimson;*/
  background-image: url(../../img/icons/left.png);
  display: block !important;
  transform: rotate(90deg);
}
@media (max-width: 620px) {
  .swiper-button-prev-out {
    display: none !important;
  }
}
@media (max-width: 620px) {
  .swiper-button-next-out {
    display: none !important;
  }
}
.swiper-button-next-out {
  left: 50px;
  top: 0;
  cursor: pointer;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  /*background-color: crimson;*/
  background-image: url(../../img/icons/right.png);
  display: block;
  transform: rotate(90deg);
}

.item__slider-small-photo.swiper {
  width: 94px;
  height: 520px;
  /*margin: 0 auto;*/
  margin-right: 16px;
  margin-top: 40px;
  margin-left: auto;
  margin-bottom: 0;
}

@media (max-width: 620px) {
  .item__slider-small-photo.swiper {
    display: none;
  }
}

.item__slider-small-photo.swiper-slide {
  display: block;
  /*max-width: 540px;*/
  width: 100%;
  height: 100%;
  position: relative;
}

.item__slider-small-photo .swiper-slide {
  opacity: 0.4;
}
.item__slider-small-photo .swiper-slide-thumb-active {
  opacity: 1;
}

/*.mySwiper .swiper-slide {
   opacity: 0.4;
 }
 
 .mySwiper .swiper-slide-thumb-active {
   opacity: 1;
 }*/

.item__slider-small-photo .swiper-slide img {
  width: 94px;
  height: 114px;
  object-fit: cover;
}
.item__slider-small-photo .swiper-button-prev {
  left: 25px !important;
  top: 50px !important;
  cursor: pointer !important;
  position: absolute !important;
  width: 40px !important;
  height: 40px !important;
  background-image: url(../../img/icons/left.png) !important;
  border: 2px solid rgb(255, 0, 0) !important;
}
.swiper-button-prev::after {
  content: "" !important;
}
.item__slider-small-photo .swiper-button-next {
  right: 25px !important;
  top: 100px !important;
  cursor: pointer !important;
  position: absolute !important;
  width: 40px !important;
  height: 40px !important;
  background-image: url(../../img/icons/right.png) !important;
  border: 2px solid rgb(255, 0, 0) !important;
}
.item__slider-small-photo.swiper-button-next::after {
  content: "" !important;
}
.item__card-img_R {
  width: 255px !important;
  margin: 0 auto;
}
.item__card-img_R img {
  width: 100% !important;
}
.item__card_R {
  width: 255px;
  margin: 0 auto;
}
.swiper_r {
  width: 1280px;
  
}
@media (max-width: 1110px) {
  .swiper_r {
    width: 1110px;
  }
}
@media (max-width: 768px) {
  .swiper_r {
    width: 768px;
  }
}
@media (max-width: 600px) {
  .swiper_r {
    width: 600px;
  }
}
.item__card-suptitle_r {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 255px;
  margin: 0 auto;
}
.item__card-title_r {
  padding-top: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  opacity: 0.6;
  color: #121212;
  width: 255px;
  margin: 0 auto;
}
