/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*font-family: 'Inter', sans-serif;
 font-family: 'Playfair Display SC', serif;
 font-family: 'Spartan', sans-serif;*/

/*--------------------*/
body {
  font-family: "Spartan", sans-serif;
  color: #121212;
}
.wrapper {
}
.header {
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
.header__top {
  background-color: #121212;
  height: 24px;
  display: flex;
  justify-content: space-between;
}
.top {
}
.top__contacts {
  display: flex;
  align-items: center;
  height: 24px;
}
.top__phone-icons {
}
.top__phone {
  position: relative;
  margin-left: 107px;
  width: 112px;
  line-height: 12px;
  color: #ffffff;
  font-size: 11px;
  font-weight: 500;
}
.top__phone::before {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  width: 10.5px;
  height: 10.5px;
  background-image: url(../../img/icons/img_phone.svg);
  /*background-image: url(../../img/icons/img_phone.svg);*/
}
.top__addres-icons {
}
.top__addres {
  position: relative;
  margin-left: 51px;
  font-family: "Inter", sans-serif;
  font-size: 11px;
  color: #ffffff;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.03em;
}
.top__addres::before {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  width: 9.8px;
  height: 11.8px;
  background-image: url(../../img/icons/img_addres.svg);
}

.top__workinghours-icons {
}
.top__workinghours {
  position: relative;
  margin-left: 75px;
  font-size: 11px;
  font-weight: 500;
  line-height: 12px;
  text-align: left;
  color: #ffffff;
}
.top__workinghours::before {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  width: 10px;
  height: 10px;
  background-image: url(../../img/icons/img_time.svg);
}
.top__social {
  display: flex;
  align-items: center;
  margin-right: 86px;
}
.top__social li {
  padding-right: 12px;
}
.top__social li:last-child {
  padding-right: 0;
}
.top__social-facebook {
  display: block;
  width: 12.2px;
  height: 12.2px;
  /*background-image: url(../../img/icons/facebook.svg);*/
  background-size: cover;
}
.top__social-twitter {
  display: block;
  width: 13px;
  height: 10.5px;
  background-image: url(../../img/icons/twitter.svg);
  background-size: cover;
}
.top__social-instagram {
  display: block;
  width: 11px;
  height: 11px;
  background-image: url(../../img/icons/instagram.svg);
  background-size: cover;
}
.top__social-pinteerst {
  display: block;
  width: 12.2px;
  height: 12.2px;
  background-image: url(../../img/icons/pinterest.svg);
  background-size: cover;
}
.header__main {
  height: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main {
}
.main_logo {
  font-family: "Playfair Display SC", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin-left: 85px;
}
.main__navigation {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1075px) {
  .main__navigation {
    display: none;
  }
}
.main__navigation li {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  padding-right: 32px;
}
.main__navigation li:last-child {
  padding-right: 0;
}

.main__navigation li a {
  color: #121212;
}
.main__icons {
  margin-right: 89px;
  display: flex;
  justify-content: space-between;
}
.main__icons li {
  padding-right: 30px;
}
.main__icons li:last-child {
  padding-right: 0;
}
.main__icons-search {
  display: block;
  width: 18px;
  height: 18px;
  background-image: url(../../img/icons/Search.svg);
  background-size: cover;
}
.main__icons-earth {
  display: block;
  width: 18px;
  height: 18px;
  background-image: url(../../img/icons/Earth.svg);
  background-size: cover;
}
.main__icons-human {
  display: block;
  width: 14px;
  height: 18px;
  background-image: url(../../img/icons/human.svg);
  background-size: cover;
}
.main__icons-basket {
  position: relative;
  display: block;
  width: 16px;
  height: 18px;
  background-image: url(../../img/icons/basket.svg);
  background-size: cover;
}
.main__icons-basket img {
  position: absolute;
  top: -10px;
  right: -10px;
}
