/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Spartan", sans-serif;
  color: #121212;
}
.wrapper {
}
.header {
  /*overflow: hidden;*/
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}
.header__top {
  background-color: #121212;
  height: 24px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 425px) {
  .header__top {
    height: 40px;
  }
}
.top {
}
.top__contacts {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 24px;
  max-width: 550px;
}
.top__contacts li {
  padding-left: 35px;
}
@media (max-width: 425px) {
  .top__contacts {
    line-height: 20px;
    justify-content: flex-start;
  }
}

.top__phone-icons {
}
.top__phone {
  position: relative;
  /*margin-left: 107px;*/
  width: 112px;
  line-height: 12px;
  color: #ffffff;
  font-size: 11px;
  font-weight: 500;
}
.top__phone::before {
  content: "";
  position: relative;
  top: 0;
  left: -20px;
  width: 10.5px;
  height: 10.5px;
  background-image: url(../../img/icons/img_phone.svg);
}
.top__addres-icons {
}
.top__addres {
  position: relative;
  /*margin-left: 51px;*/
  font-family: "Inter", sans-serif;
  font-size: 11px;
  color: #ffffff;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.03em;
}
.top__addres::before {
  content: "";
  position: relative;
  top: 0;
  left: -20px;
  width: 9.8px;
  height: 11.8px;
  background-image: url(../../img/icons/img_addres.svg);
}

.top__workinghours-icons {
}
.top__workinghours {
  position: relative;
  /*margin-left: 75px;*/
  font-size: 11px;
  font-weight: 500;
  line-height: 12px;
  /*text-align: left;*/
  color: #ffffff;
}
.top__workinghours::before {
  content: "";
  position: relative;
  top: 0;
  left: 15px;
  width: 10px;
  height: 10px;
  background-image: url(../../img/icons/img_time.svg);
}
@media (max-width: 650px) {
  .top__workinghours {
    display: none;
  }
}
.top__social {
  display: flex;
  align-items: center;
  margin-right: 86px;
}
@media (max-width: 650px) {
  .top__social {
    margin-right: 20px;
  }
}
.top__social li {
  padding-right: 12px;
}
.top__social li:last-child {
  padding-right: 0;
}
.top__social-facebook {
  display: block;
  width: 12.2px;
  height: 12.2px;
}
.top__social-twitter {
  display: block;
  width: 13px;
  height: 10.5px;
}
.top__social-instagram {
  display: block;
  width: 11px;
  height: 11px;
}
.top__social-pinteerst {
  display: block;
  width: 12.2px;
  height: 12.2px;
}
.header__main {
  height: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1110px) {
  .header__main {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 935px) {
  .main__backgraund._active {
    position: absolute;
    z-index: 10;
    height: 66px;
    width: 100%;
    left: 0;
    top: 24px;
    background-color: #121212;
    opacity: 0.1;
  }
}
@media (max-width: 650px) {
  .header__main {
    padding: 0 20px;
  }
}
.main {
}
.main_logo {
  font-family: "Playfair Display SC", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  /*margin-left: 85px;*/
}
@media (max-width: 650px) {
  .main_logo {
    margin-left: 0;
  }
}
.main_logo a {
  color: #121212;
}
.main__navigation {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 935px) {
  .main__navigation {
    /*display: none;*/
  }
}
.main__navigation li {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  padding-right: 32px;
}

.main__navigation li:last-child {
  padding-right: 0;
}

.main__navigation li a {
  color: #121212;
}
.main__icons {
  /*margin-right: 89px;*/
  display: flex;
  justify-content: space-between;
}
@media (max-width: 400px) {
   .main__icons{
      padding-left: 10px;
   }
}
@media (max-width: 935px) {
  .main__navigation {
    position: fixed;
    z-index: 5;
    top: 90px;
    left: -100%;
    background-color: #ffffff;
    /*backdrop-filter: blur(4px);*/
    opacity: 0.9;
    width: 100%;
    height: 100%;
    display: block;
    font-size: 35px;
    line-height: 72px;
    padding-top: 15px;
    padding-left: 60px;
    transition: left 0.5s ease;
    overflow: auto;
  }
  .main__navigation._active {
    left: 0;
  }
  .main__navigation li {
    font-size: 35px;
    line-height: 72px;
    font-weight: 500;
  }
}

@media (max-width: 650px) {
  .main__icons {
    margin-right: 0;
  }
}
.main__icons li {
  padding-right: 30px;
}
@media (max-width: 650px) {
  .main__icons li {
    padding-right: 10px;
  }
}
.main__icons li:nth-child(4) {
  padding-right: 0;
}
@media (max-width: 935px) {
  .main__icons li:nth-child(4) {
    padding-right: 25px;
  }
}
.main__icons li:last-child {
  padding-right: 0;
}
.main__icons-search {
  width: 18px;
  height: 18px;
}
.main__icons-earth {
  width: 18px;
  height: 18px;
}
.main__icons-human {
  display: block;
  width: 14px;
  height: 18px;
}
.main__icons-basket {
  cursor: pointer;
  position: relative;
  display: block;
  width: 16px;
  height: 18px;
  background-image: url(../../img/icons/basket.svg);
  background-size: cover;
}
.main__icons-basket span {
  position: absolute;
  background-color: #121212;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  top: -8px;
  right: -7px;
  color: #ffffff;
  font-family: Spartan;
  font-size: 9px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  padding-left: 5px;
}

.header__burger {
  display: none;
}

@media (max-width: 935px) {
  .header__burger {
     margin-left: 20px; 
    z-index: 2;
    display: block;
    position: relative;
    width: 25px;
    height: 20px;
    cursor: pointer;
    color: #121212;
  }
  .header__burger::before,
  .header__burger::after,
  .header__burger span {
    left: 0;
    position: absolute;
    height: 2px;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #121212;
  }
  .header__burger::before,
  .header__burger::after {
    content: "";
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .header__burger._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .header__burger._active:before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .header__burger._active:after {
    top: 50%;
    transform: rotate(45deg) translate(0px, -50%);
  }
}
