/*font-family: 'Inter', sans-serif;
 font-family: 'Playfair Display SC', serif;
 font-family: 'Spartan', sans-serif;*/

/*--------------------*/
body {
  font-family: "Spartan", sans-serif;
  color: #121212;
}
.wrapper {
}
.header {
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
.sort {
}
.container {
}
.sort__main {
  max-width: 1110px;
  margin: 0 auto;
}
.sort__title {
  height: 169px;
  padding-top: 96px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1115px) {
  .sort__title {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.sort__logo {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0.06em;
}
.sort__navigation {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sort__navigation li {
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0.06em;
  opacity: 0.6;
  padding-left: 32px;
}
.sort__navigation li._active {
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0.06em;
  opacity: 0.6;
  padding-left: 32px;
  font-weight: 500;
  opacity: 1;
}
@media (max-width: 500px) {
  .sort__navigation {
    justify-content: space-around;
    gap: 5px;
  }
  @media (max-width: 440px) {
    .sort__navigation {
      display: none;
    }
  }
  .sort__navigation li {
    font-size: 10px;
    line-height: 8px;
  }
}
.sort__navigation li:first-child {
  padding-left: 0;
}
.sort__items {
  display: flex;
  align-items: center;
  justify-content:flex-start;
  gap: 30px;
  flex-wrap: wrap;
}
@media (max-width: 1115px) {
  .sort__items {
    gap: 0;
    justify-content: space-around;
    /*margin-left: 10px;
     margin-right: 10px;*/
  }
}
.item__card {
  position: relative;
  width: 255px;
}
@media (max-width: 1115px) {
  .item__card {
    width: 32%;
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media (max-width: 897px) {
  .item__card {
    width: 48%;
  }
}
@media (max-width: 540px) {
  .item__card {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}
/*.item__card-img {
   max-width: 255px;
   max-height: 318px;
 }*/
/*.item__card-img {
   max-width: 255px;
   max-height: 318px;
 }*/
.item__card-img img {
  width: 100%;
}
.item__card-sale {
   z-index: 5;
  position: absolute;
  top: 0;
  width: 53px;
  height: 31px;
  font-family: "Spartan", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 31px;
  text-align: center;
  color: #fff;
  background-color: rgba(233, 30, 99, 1);
}
.item__card-price-sale {
  color: rgba(18, 18, 18, 1);
  opacity: 0.4;
  font-family: "Spartan", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 13px;
  margin-left: 4px;
  position: relative;
}
.item__card-price-sale::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgba(18, 18, 18, 1);
  opacity: 0.4;
  position: absolute;
  top: 40%;
  left: 0;
  z-index: 2;
}

.item__card-title {
  padding-top: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  opacity: 0.6;
  color: #121212;
}
.item__card-suptitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item__card-price {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  padding-top: 12px;
  color: #121212;
}
/*.item__card-score {
  background-image: url(../../img/icons/4stars.svg);
  width: 70px;
  height: 14px;
}*/
.sort__button {
  margin: 48px auto 0 auto;
  font-size: 13px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0.06em;
  text-align: center;
  max-width: 1110px;
  height: 48px;
  border: 2px solid #f8f8f8;
  background-color: #f8f8f8;
  text-transform: uppercase;
  cursor: pointer;
}
