/*Обнуление*/
* {
   padding: 0;
   margin: 0;
   border: 0;
 }
 *,
 *:before,
 *:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
 }
 :focus,
 :active {
   outline: none;
 }
 a:focus,
 a:active {
   outline: none;
 }
 nav,
 footer,
 header,
 aside {
   display: block;
 }
 html,
 body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
 }
 input,
 button,
 textarea {
   font-family: inherit;
 }
 input::-ms-clear {
   display: none;
 }
 button {
   cursor: pointer;
 }
 button::-moz-focus-inner {
   padding: 0;
   border: 0;
 }
 a,
 a:visited {
   text-decoration: none;
 }
 a:hover {
   text-decoration: none;
 }
 ul li {
   list-style: none;
 }
 img {
   vertical-align: top;
 }
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   font-size: inherit;
   font-weight: 400;
 }
 
 /*font-family: 'Inter', sans-serif;
 font-family: 'Playfair Display SC', serif;
 font-family: 'Spartan', sans-serif;*/
 
 /*--------------------*/
 body {
   font-family: "Spartan", sans-serif;
   color: #121212;
 }
 .wrapper {
 }
 .header {
 }
 .container {
   max-width: 1280px;
   margin: 0 auto;
 }
 .sort {
}
.container {
}
.sort__main {
  max-width: 1110px;
  margin: 0 auto;
}
.sort__title {
  height: 169px;
  padding-top: 96px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sort__logo {
  font-size: 22px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0.06em;
}
.sort__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sort__navigation li {
  font-size: 12px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0.06em;
  opacity: 0.6;
  padding-left: 32px;
}
.sort__navigation li:first-child {
  font-weight: 500;
  opacity: 1;
  padding-left: 0;
}
.sort__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}
.item__card {
  /*max-width: 255px;
   height: 408px;*/
  max-width: 255px;
}
.item__card-img {
  max-width: 255px;
  max-height: 318px;
}
.item__card-title {
  padding-top: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  opacity: 0.6;
}
.item__card-suptitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item__card-price {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  padding-top: 12px;
}
.item__card-score {
  background-image: url(../../img/icons/4stars.svg);
  width: 70px;
  height: 14px;
}
.sort__button {
  margin: 48px auto 0 auto;
  font-size: 13px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0.06em;
  text-align: center;
  width: 1110px;
  height: 48px;
  border: 2px solid #f8f8f8;
  background-color: #f8f8f8;
  text-transform: uppercase;
}