/*font-family: 'Inter', sans-serif;
 font-family: 'Playfair Display SC', serif;
 font-family: 'Spartan', sans-serif;*/

/*--------------------*/
body {
  font-family: "Spartan", sans-serif;
  color: #121212;
}
.wrapper {
}
.header {
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
.sort {
}
.container {
}
.sort__main {
  max-width: 1110px;
  margin: 0 auto;
}
.sort__title {
  height: 169px;
  padding-top: 96px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 1150px) {
   .sort__title {
     padding: 96px 15px 0 15px;
   }
 }
.sort__logo {
  font-size: 22px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0.06em;
}
.sort__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.sort__navigation li {
  font-size: 12px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0.06em;
  opacity: 0.6;
  padding-left: 32px;
}
@media (max-width: 695px){
   .sort__navigation {
      display: none;
   }
}
.sort__navigation li:first-child {
  font-weight: 500;
  opacity: 1;
  padding-left: 0;
}
.sort__items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  gap: 30px;
  flex-wrap: wrap;
  /*margin: 0 -15px;*/

  /*padding: 0 20px;*/
}


.item__card {
  /*padding: 0 15px;*/
  width: 255px;
}
.item__card-img {
   overflow: hidden;
  /*max-width: 255px;
  max-height: 318px;*/
}
.item__card-title {
  padding-top: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  opacity: 0.6;
}
.item__card-suptitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item__card-price {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  padding-top: 12px;
}
.item__card-score {
  background-image: url(../../img/icons/4stars.svg);
  width: 70px;
  height: 14px;
}
.sort__button {
  margin: 48px auto 0 auto;
  font-size: 13px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0.06em;
  text-align: center;
  max-width: 1110px;
  height: 48px;
  border: 2px solid #f8f8f8;
  background-color: #f8f8f8;
  text-transform: uppercase;
}
