.footer {
}
.container {
}
.footer__wrapper {
}
.footer__input {
  height: 56px;
  max-width: 1280px;
  background-color: #121212;
  display: flex;
  justify-content: space-between;
  margin: 92px auto 0 auto;
  align-items: center;
  padding-left: 85px;
  padding-right: 85px;
}
@media (max-width: 980px) {
  .footer__input {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 725px) {
  .footer__input {
    height: 100px;
  }
}
.footer__input-text {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.06em;
  color: #ffffff;
  opacity: 0.4;
}
.footer__input-input {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.footer__input-email {
  padding-left: 20px;
  display: block;
  height: 32px;
  width: 400px;
  background-color: rgba(248, 248, 248, 0.2);
}
@media (max-width: 860px) {
  .footer__input-email {
    width: 200px;
  }
}
.footer__input-email::placeholder {
  padding-left: 16px;
}

.footer__input-button {
  padding-left: 10px;
  position: relative;
  display: block;
  margin-left: 12px;
  height: 32px;
  width: 108px;
  border: 1px solid #ffffff;
  background: #181818;
  color: #ffffff;
  opacity: 0.9;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  font-family: "Spartan", sans-serif;
}
.footer__input-button:disabled {
  background: #887d7d;
  border: 0px solid #ffffff;
}
.footer__input-button.loading-f::after {
  content: "";
  border: 3px solid #ea1e63;
  position: absolute;
  width: 20px;
  border-top-color: transparent;
  height: 20px;
  border-radius: 50%;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
  animation: loading 1s infinite linear;
}
@keyframes loading {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.bigbanner__email-error-footer {
  position: absolute;
  color: #ea1e63;
  text-align: center;
  top: -30px;
  /*margin-bottom: -24px;*/
  line-height: 24px;
}
.bigbanner__email-notEerror-footer {
  position: absolute;
  top: -30px;
  color: #181818;
  text-align: center;
  /*margin-bottom: -24px;*/
  line-height: 24px;
}

.footer__input-social {
  width: 108px;
  height: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 650px) {
  .footer__input-social {
    display: none;
  }
}
.top__social-facebook {
}
.top__social-twitter {
}
.top__social-instagram {
}
.top__social-pinteerst {
}

.footer__rows {
  max-width: 1110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  /*height: 237px;*/
}
@media (max-width: 1110px) {
  .footer__rows {
    padding: 0 20px;
  }
}
.footer__column li {
  padding-top: 20px;
  font-size: 12px;
  font-weight: 400;
  /*line-height: 34px;*/
}
.footer__column li:first-child {
  padding-top: 40px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  line-height: 13px;
  letter-spacing: 0.06em;
}
.footer__column li:last-child {
  padding-bottom: 40px;
}
@media (max-width: 550px) {
  .footer__rows ul:first-child {
    display: none;
  }
  .footer__rows ul:nth-child(3) {
    display: none;
  }
}
.footer__pay {
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin: 0 auto;
  background-color: #f8f8f8;
  padding-left: 85px;
  padding-right: 85px;
}
@media (max-width: 1040px) {
  .footer__pay {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.footer__copyright {
}
.footer__pay div {
  font-size: 11px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  color: #121212;
  opacity: 0.8;
}
@media (max-width: 900px) {
  .footer__pay {
    height: 100px;
  }
}
.footer__pay-line {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}
.footer__pay-line div {
  padding-right: 12px;
}
.footer__pay-line div img:last-child {
  padding-right: 0;
}
.footer__pay-line div a {
  color: #121212;
  opacity: 0.8;
}
@media (max-width: 620px) {
  .footer__pay-line div img {
    width: 50px;
    height: 50px;
  }
  .footer__link {
    display: none;
  }
  .footer__copyright {
    display: none;
  }
}
