/*Обнуление*/
* {
   padding: 0;
   margin: 0;
   border: 0;
 }
 *,
 *:before,
 *:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
 }
 :focus,
 :active {
   outline: none;
 }
 a:focus,
 a:active {
   outline: none;
 }
 nav,
 footer,
 header,
 aside {
   display: block;
 }
 html,
 body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
 }
 input,
 button,
 textarea {
   font-family: inherit;
 }
 input::-ms-clear {
   display: none;
 }
 button {
   cursor: pointer;
 }
 button::-moz-focus-inner {
   padding: 0;
   border: 0;
 }
 a,
 a:visited {
   text-decoration: none;
 }
 a:hover {
   text-decoration: none;
 }
 ul li {
   list-style: none;
 }
 img {
   vertical-align: top;
 }
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   font-size: inherit;
   font-weight: 400;
 }
 
 /*font-family: 'Inter', sans-serif;
 font-family: 'Playfair Display SC', serif;
 font-family: 'Spartan', sans-serif;*/
 
 /*--------------------*/
 body {
   font-family: "Spartan", sans-serif;
   color: #121212;
 }
 .wrapper {
 }
 .header {
 }
 .container {
   max-width: 1280px;
   margin: 0 auto;
 }
 /*.header__top {
   background-color: #121212;
   height: 24px;
   display: flex;
   justify-content: space-between;
 }
 .top {
 }
 .top__contacts {
   display: flex;
   align-items: center;
   height: 24px;
 }
 .top__phone-icons {
 }
 .top__phone {
   position: relative;
   margin-left: 107px;
   width: 112px;
   line-height: 12px;
   color: #ffffff;
   font-size: 11px;
   font-weight: 500;
 }
 .top__phone::before {
   content: "";
   position: absolute;
   top: 0;
   left: -20px;
   width: 10.5px;
   height: 10.5px;
   background-image: url(./img/icons/img_phone.svg);
 }
 .top__addres-icons {
 }
 .top__addres {
   position: relative;
   margin-left: 51px;
   font-family: "Inter", sans-serif;
   font-size: 11px;
   color: #ffffff;
   font-weight: 400;
   line-height: 12px;
   letter-spacing: 0.03em;
 }
 .top__addres::before {
   content: "";
   position: absolute;
   top: 0;
   left: -20px;
   width: 9.8px;
   height: 11.8px;
   background-image: url(./img/icons/img_addres.svg);
 }
 
 .top__workinghours-icons {
 }
 .top__workinghours {
   position: relative;
   margin-left: 75px;
   font-size: 11px;
   font-weight: 500;
   line-height: 12px;
   text-align: left;
   color: #ffffff;
 }
 .top__workinghours::before {
   content: "";
   position: absolute;
   top: 0;
   left: -20px;
   width: 10px;
   height: 10px;
   background-image: url(./img/icons/img_time.svg);
 }
 .top__social {
   display: flex;
   align-items: center;
   margin-right: 86px;
 }
 .top__social li {
   padding-right: 12px;
 }
 .top__social li:last-child {
   padding-right: 0;
 }
 .top__social-facebook {
   display: block;
   width: 12.2px;
   height: 12.2px;
   /*background-image: url(./img/icons/facebook.svg);*/
   /*background-size: cover;
 }
 .top__social-twitter {
   display: block;
   width: 13px;
   height: 10.5px;
   background-image: url(./img/icons/twitter.svg);
   background-size: cover;
 }
 .top__social-instagram {
   display: block;
   width: 11px;
   height: 11px;
   background-image: url(./img/icons/instagram.svg);
   background-size: cover;
 }
 .top__social-pinteerst {
   display: block;
   width: 12.2px;
   height: 12.2px;
   background-image: url(./img/icons/pinterest.svg);
   background-size: cover;
 }
 .header__main {
   height: 66px;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 .main {
 }
 .main_logo {
   font-family: "Playfair Display SC", serif;
   font-size: 24px;
   font-weight: 400;
   line-height: 32px;
   margin-left: 85px;
 }
 .main__navigation {
   display: flex;
   justify-content: space-between;
 }
 @media (max-width: 1075px) {
   .main__navigation {
     display: none;
   }
 }
 .main__navigation li {
   font-size: 14px;
   font-weight: 400;
   line-height: 16px;
   padding-right: 32px;
 }
 .main__navigation li:last-child {
   padding-right: 0;
 }
 
 .main__navigation li a {
   color: #121212;
 }
 .main__icons {
   margin-right: 89px;
   display: flex;
   justify-content: space-between;
 }
 .main__icons li {
   padding-right: 30px;
 }
 .main__icons li:last-child {
   padding-right: 0;
 }
 .main__icons-search {
   display: block;
   width: 18px;
   height: 18px;
   background-image: url(./img/icons/Search.svg);
   background-size: cover;
 }
 .main__icons-earth {
   display: block;
   width: 18px;
   height: 18px;
   background-image: url(./img/icons/Earth.svg);
   background-size: cover;
 }
 .main__icons-human {
   display: block;
   width: 14px;
   height: 18px;
   background-image: url(./img/icons/human.svg);
   background-size: cover;
 }
 .main__icons-basket {
   position: relative;
   display: block;
   width: 16px;
   height: 18px;
   background-image: url(./img/icons/basket.svg);
   background-size: cover;
 }
 .main__icons-basket img {
   position: absolute;
   top: -10px;
   right: -10px;
 }*/
 /*.bloks {
 }
 .container {
 }
 .bloks__banners {
   /*background-color: deeppink;*/
   /*max-width: 1110px;
   margin-top: 32px;
   margin-left: auto;
   margin-right: auto;
   display: flex;
   justify-content: space-between;
 
   /*gap: 30px;*/
 /*}
 @media (max-width: 680px) {
   .bloks__banners {
     flex-wrap: wrap;
     gap: 15px;
     justify-content: center;
   }
 }
 .banners {
 }
 @media (max-width: 1110px) {
   .banners__big {
     padding: 0 15px;
   }
   .banners__small {
     padding: 0 15px;
   }
   .banners__small-up-left {
     padding-right: 15px;
   }
 }
 
 .banners__big {
   display: block;
   max-width: 540px;
   max-height: 490px;
   position: relative;
   object-fit: contain;
 }
 .banners__big img {
   width: 100%;
   height: 100%;
   object-fit: cover;
 }
 .banners__bg-title span {
   display: block;
   padding-top: 24px;
   font-size: 12px;
   font-style: normal;
   font-weight: 600;
   line-height: 13px;
   letter-spacing: 0.06em;
   text-align: center;
   opacity: 0.4;
   padding-bottom: 14px;
 }
 .banners__bg-title {
   text-transform: uppercase;
   position: absolute;
   top: 195px;
   /*left: 125px;*/
   /*left: 50%;*/
   /*left: calc(50% - 145px);
   width: 289px;
   height: 100px;*/
   /*border-radius: 4px;
   background-color: #ffffff;
   font-size: 22px;
   font-weight: 600;
   line-height: 25px;
   letter-spacing: 0.06em;
   text-align: center;
 }
 @media (max-width: 860px) {
   .banners__bg-title {
     width: 200px;
     left: calc(50% - 100px);
     /*top: calc(50%-50px);*/
     /*top: 50%;
   }
 }*/
 /*.banners__bg-title::before {
   cursor: pointer;
   position: absolute;
   content: "";
   width: 40px;
   height: 40px;
   border-radius: 20px;
   background: #ffffff;
   background-image: url(./img/icons/left.svg);
   background-position: center;
   background-repeat: no-repeat;
   opacity: 0.4;
   top: 30px;
   left: -100px;
 }
 .banners__bg-title::after {
   cursor: pointer;
   position: absolute;
   content: "";
   width: 40px;
   height: 40px;
   border-radius: 20px;
   background: #ffffff;
   background-image: url(./img/icons/right.svg);
   background-position: center;
   background-repeat: no-repeat;
   opacity: 0.4;
   top: 30px;
   right: -100px;
 }
 @media (max-width: 1060px) {
   .banners__bg-title::before {
     left: -50px;
   }
   .banners__bg-title::after {
     right: -50px;
   }
 }*/
 /*@media (max-width: 680px){
    .banners__bg-title::before {
       left: -100px;
     }
     .banners__bg-title::after {
       right: -100px;
     }
 }*/
 /*.banners__small {
   max-width: 540px;
 }
 .banners__small-up {
   display: flex;
   justify-content: space-between;
 }
 .banners__small-up-left {
   position: relative;
   display: block;
   max-width: 255px;
   height: 200px;
 }
 .banners__small-up-left img {
   width: 100%;
   height: 100%;
   object-fit: cover;
 }
 
 .banners__small-up-left-title {
   width: 118px;
   height: 48px;
   position: absolute;
   background-color: #ffffff;
   border-radius: 4px;
   font-size: 14px;
   font-weight: 600;
   line-height: 48px;
   letter-spacing: 0.06em;
   text-align: center;
   text-transform: uppercase;
   top: 76px;
   left: calc(50% - 59px);
 }
 
 .banners__small-up-right {
   position: relative;
   display: block;
   max-width: 255px;
   height: 200px;
 }
 .banners__small-up-right img {
   width: 100%;
   height: 100%;
   object-fit: cover;
 }
 
 .banners__small-up-right-title {
   width: 118px;
   height: 48px;
   position: absolute;
   background-color: #ffffff;
   border-radius: 4px;
   font-size: 14px;
   font-weight: 600;
   line-height: 48px;
   letter-spacing: 0.06em;
   text-align: center;
   text-transform: uppercase;
   top: 76px;
   left: calc(50% - 59px);
 }
 .banners__small-down {
   margin-top: 30px;
   position: relative;
   max-width: 540px;
   height: 260px;
 }
 .banners__small-down img {
   width: 100%;
   height: 100%;
   object-fit: cover;
 }
 .banners__small-down-title {
   width: 166px;
   height: 48px;
   position: absolute;
   background-color: #ffffff;
   border-radius: 4px;
   font-size: 14px;
   font-weight: 600;
   line-height: 48px;
   letter-spacing: 0.06em;
   text-align: center;
   text-transform: uppercase;
   top: 106px;
   left: calc(50% - 83px);
 }*/
 /*.conditions {
 }
 .container {
 }
 .conditions__rows {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-left: 90px;
   padding-right: 90px;
   height: 105px;
   flex-wrap: wrap;
 }
 @media (max-width: 1220px) {
   .conditions__rows {
     flex-wrap: wrap;
     justify-content: center;
     gap: 25px;
     padding: 25px 0 0 0;
   }
 }
 .conditions__column {
   display: flex;
   justify-content: space-between;
 }
 .conditions__column-img {
   width: 30px;
   height: 30px;
   background-size: contain;
   background-repeat: no-repeat;
 }
 .shipping {
   background-image: url(./img/icons/shipping.svg);
 }
 .return {
   background-image: url(./img/icons/return.svg);
 }
 .support {
   background-image: url(./img/icons/support.svg);
 }
 .conditions__column-info {
   margin-left: 13px;
 }
 .conditions__column-title {
   font-size: 12px;
   font-weight: 600;
   line-height: 13px;
   letter-spacing: 0.06em;
 }
 .conditions__column-subtitle {
   font-size: 12px;
   font-weight: 500;
   line-height: 22px;
   width: 302px;
 }*/
 /*.sort {
 }
 .container {
 }
 .sort__main {
   max-width: 1110px;
   margin: 0 auto;
 }
 .sort__title {
   height: 169px;
   padding-top: 96px;
   display: flex;
   align-items: center;
   justify-content: space-between;
 }
 .sort__logo {
   font-size: 22px;
   font-weight: 600;
   line-height: 25px;
   letter-spacing: 0.06em;
 }
 .sort__navigation {
   display: flex;
   align-items: center;
   justify-content: center;
 }
 .sort__navigation li {
   font-size: 12px;
   font-weight: 400;
   line-height: 13px;
   letter-spacing: 0.06em;
   opacity: 0.6;
   padding-left: 32px;
 }
 .sort__navigation li:first-child {
   font-weight: 500;
   opacity: 1;
   padding-left: 0;
 }
 .sort__items {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 30px;
   flex-wrap: wrap;
 }
 .item__card {
   /*max-width: 255px;
    height: 408px;
   max-width: 255px;
 }*/
 /*.item__card-img {
   max-width: 255px;
   max-height: 318px;
 }
 .item__card-title {
   padding-top: 16px;
   font-size: 14px;
   font-weight: 400;
   line-height: 16px;
   opacity: 0.6;
 }
 .item__card-suptitle {
   display: flex;
   align-items: center;
   justify-content: space-between;
 }
 .item__card-price {
   font-size: 14px;
   font-weight: 700;
   line-height: 16px;
   padding-top: 12px;
 }
 .item__card-score {
   background-image: url(./img/icons/4stars.svg);
   width: 70px;
   height: 14px;
 }
 .sort__button {
   margin: 48px auto 0 auto;
   font-size: 13px;
   font-weight: 500;
   line-height: 48px;
   letter-spacing: 0.06em;
   text-align: center;
   width: 1110px;
   height: 48px;
   border: 2px solid #f8f8f8;
   background-color: #f8f8f8;
   text-transform: uppercase;
 }*/
 /*.banners__wrapper {
   margin-top: 96px;
   margin-left: auto;
   margin-right: auto;
   display: flex;
   justify-content: space-between;
   gap: 30px;
   max-width: 1110px;
 }
 
 .banners__wrapper-img {
   position: relative;
   max-width: 540px;
   height: 260px;
 }
 .banners__wrapper-img img {
   width: 100%;
   height: 100%;
   object-fit: cover;
 }
 .banners__wrapper-title {
   width: 293px;
   height: 71px;
   position: absolute;
   background-color: #ffffff;
   border-radius: 4px;
   font-size: 16px;
   font-weight: 600;
   line-height: 18px;
   letter-spacing: 0.06em;
   text-align: center;
   text-transform: uppercase;
   top: 106px;
   left: calc(50% - 146px);
 }
 .banners__wrapper-title p {
   opacity: 0.6;
   font-size: 12px;
   font-weight: 600;
   line-height: 13px;
   letter-spacing: 0.06em;
   text-align: center;
   margin-top: 16px;
   margin-bottom: 8px;
 }
 .banners__wrapper-title span {
   color: #ea1e63;
 }*/
 .bigbanner {
 }
 .container {
 }
 .bigbanner__wrapper {
   position: relative;
   margin-top: 96px;
   height: 580px;
   max-width: 1280px;
   background: linear-gradient(180deg, #f3f2f2 0%, #dcdbdb 100%);
 }
 .bigbanner_woman {
   position: absolute;
   top: 35px;
   left: 122px;
   z-index: 2;
 }
 .bigbanner_man {
   position: absolute;
   top: 45px;
   left: 900px;
   z-index: 2;
 }
 .bigbanner__contain {
   position: absolute;
   /*top: calc(50% - 200px);*/
   left: calc(50% - 266px);
   height: 461px;
   width: 532px;
   background-color: #ffffff;
   border-radius: 4px;
   margin: 60px auto;
 }
 .bigbanner__subtitle {
   margin-top: 80px;
   margin-bottom: 16px;
   font-size: 12px;
   font-weight: 600;
   line-height: 13px;
   letter-spacing: 0.06em;
   text-align: center;
   text-transform: uppercase;
   opacity: 0.4;
 }
 .bigbanner__title {
   font-size: 26px;
   font-weight: 600;
   line-height: 36px;
   letter-spacing: 0.06em;
   text-align: center;
   text-transform: uppercase;
   width: 285px;
   margin: 0 auto;
 }
 .bigbanner__title span {
   color: #ea1e63;
 }
 .bigbanner__email {
   height: 64px;
   width: 340px;
   background: rgba(248, 248, 248, 1);
   margin: 32px auto 0 auto;
   display: block;
 }
 .bigbanner__email::placeholder {
   font-size: 16px;
   font-weight: 500;
   line-height: 18px;
   text-align: center;
   opacity: 0.4;
 }
 .bigbanner__button {
   text-transform: uppercase;
   font-size: 16px;
   font-weight: 500;
   line-height: 18px;
   text-align: center;
   display: block;
   color: #ffffff;
   height: 64px;
   width: 340px;
   background: rgba(18, 18, 18, 1);
   margin: 24px auto 0 auto;
 }
 .blog {
 }
 .container {
 }
 .blog__wrapper {
 }
 .blog__title {
   max-width: 1110px;
   display: flex;
   justify-content: space-between;
   margin: 96px auto 0 auto;
 }
 .blog__title p:first-child {
   text-transform: uppercase;
   font-size: 22px;
   font-weight: 600;
   line-height: 25px;
   letter-spacing: 0.06em;
 }
 .blog__title p:last-child {
   font-size: 12px;
   font-weight: 500;
   line-height: 13px;
   letter-spacing: 0.06em;
   opacity: 0.4;
 }
 .blog__rows {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   max-width: 1110px;
   margin: 48px auto 0 auto;
 }
 .blog__columm {
   width: 350px;
   height: 276px;
 }
 .blog__info {
   position: relative;
   z-index: 2;
   width: 302px;
   height: 174px;
   margin: -55px auto 0 auto;
   background-color: #ffffff;
 }
 .blog__info-title {
   text-transform: uppercase;
   padding-top: 24px;
   font-size: 14px;
   text-align: center;
   font-weight: 600;
   line-height: 22px;
   letter-spacing: 0.06em;
 }
 .blog__info-contetnt {
   text-align: justify;
   opacity: 0.8;
   padding-top: 12px;
   width: 270px;
   font-size: 14px;
   font-weight: 600;
   line-height: 22px;
   letter-spacing: 0.06em;
   margin-left: auto;
   margin-right: auto;
 }
 .footer {
 }
 .container {
 }
 .footer__wrapper {
 }
 .footer__input {
   margin-top: 162px;
   height: 56px;
   max-width: 1280px;
   background-color: #121212;
 }
 .footer__input-text {
 }
 .footer__input-input {
 }
 .footer__input-email {
 }
 .footer__input-button {
 }
 .footer__input-social {
 }
 .top__social-facebook {
 }
 .top__social-twitter {
 }
 .top__social-instagram {
 }
 .top__social-pinteerst {
 }
 